<div class="cart-area d-n">
  <a href="shopping-detail.html">
    <!-- <div class="total"><span> Total: {{totalAmount}}</span> </div> -->
    <!-- <i class="fa fa-shopping-cart"aria-hidden="true"></i> -->
    <i class="fa" style="font-size:24px">&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount'> {{totalQuantity}} </span>
  </a>
</div>
<!-- <div class="cart-area d-n">
  <a href="shopping-detail.html">
    <div class="total">Items: {{itemsInCart}} <span> Total: {{totalAmount}}</span> </div> <i class="fa fa-shopping-cart"
      aria-hidden="true"></i>
  </a>
</div> -->
